---
import NavMenuBar from "../components/navMenuBar.astro";
import ButtonCTA from "../components/Button.astro";
import { Image } from "astro:assets";
import HeroImage from "../assets/hero-image.jpg";
import Image1 from "../assets/image/persona-imagen1.jpg";
import Image2 from "../assets/image/persona-imagen2.jpg";
import Image3 from "../assets/image/persona-imagen3.jpg";
import Image4 from "../assets/image/persona-imagen4.jpg";
---

<section id="hero" class="md:col-span-full h-fit">
  <div
    id="hero-img"
    class="h-48 md:h-[25em] bg-[url(/src/assets/hero-image.jpg)] bg-no-repeat bg-cover bg-center rounded-4xl brightness-90"
  >
  </div>
  <NavMenuBar />

  <div
    id="hero-wrap"
    class="flex flex-col md:flex-row  justify-between gap-4 m-3 min-h-[400px]"
  >
    <!-- hero left-->
    <div
      id="hero-left"
      class="h-56 flex flex-col items-center gap-4 md:max-w-1/2 md:items-start justify-between"
    >
      <ButtonCTA href={"https://wa.link/ig1nh5"} title={"Cotizar"} />

      <h1
        class="max-w-xl text-3xl md:text-5xl font-bold text-shadow-primary-Darker leading-10 md:leading-12"
      >
        Picaderas Artesanales a Domicilio en Santo Domingo
      </h1>
    </div>

    <!-- hero right -->
    <div class="flex flex-col lg:items-end md:items-center  gap-4 md:max-w-1/2">
      <p class="text-center max-w-[30rem] md:text-right text-primary-Darker">
        Entrega Rápida en Santo Domingo Este. Pide tu presupuesto o catálogo al
        instante por WhatsApp.
      </p>

      <div id="hero-right" class="flex flex-col xl:flex-row   items-center gap-4">
        <!-- tray fodd -->
        <div
          class="bg-[url(/src/assets/hero-image-right.png)] bg-no-repeat bg-center bg-cover w-72 h-36 rounded-xl rounded-bl-4xl"
        >
        </div>
        <!-- tray food end-->
        <!-- customer-satisfaction -->
        <div class="bg-primary-normal w-72 h-36 rounded-xl p-3">
          <div class="relative">
            <Image
              class="w-12 h-12 rounded-full absolute top-0 left-0"
              src={Image1}
              alt={"customer-satisfaction"}
            />
            <Image
              class="w-12 h-12 rounded-full absolute top-0 left-8  "
              src={Image2}
              alt={"customer-satisfaction"}
            />
            <Image
              class="w-12 h-12 rounded-full absolute top-0 left-16"
              src={Image3}
              alt={"customer-satisfaction"}
            />
            <Image
              class="w-12 h-12 rounded-full absolute top-0 left-24"
              src={Image4}
              alt={"customer-satisfaction"}
            />
            <div class="h-32 relative">
              <p
                class="absolute bottom-2 left-0.5 text-2xl text-white font-extralight"
              >
                1k, Miles de Clientes Satisfechos.
              </p>
            </div>
          </div>
          <!-- customer-satisfaction end -->
        </div>
      </div>
      <!-- hero right end-->
    </div>
  </div>
</section>
